@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;  
}

.login, .register {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: absolute;
}

.login div, 
.register div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.login div input,
.register div input {
    outline: none;
    height: 30px;
}

.login div input:focus,
.register div input:focus {
    outline: none;
    border: 1px solid #2d24ff;
}

button[type="button"] {
    width: 30%;
    height: 40px;
    background: none;
    cursor: pointer;
    border: solid 2px #2d24ff;
}


.btnRegistro {
    cursor: pointer;
}

.btnLogin {
    cursor: pointer;
}

.parrafoValidadorNombreRegistro {
    color: red;
    display: none;
}